@charset "utf-8";

body, div, p, section, main, header, footer,
ul, li, ol,
h1, h2, h3, h4, h5, h6,
form, dl, dt, dd,
hr, button {
	margin: 0;
	padding: 0
}
body {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}
button, body, input {
	font-family: "Microsoft Yahei","SimHei","Hiragino Sans GB","Helvetica Neue",sans-serif,Arial;
}
li {
	list-style: none;
	line-height: 22px;
}
h2 {
	font-weight: 400
}
.osFileIco {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
a {
	text-decoration: none;
}

ul {
	padding: 0;
}

/* 分页样式功能 >>> */
.simple-pagination li {
	display: inline-block;
	min-width: 1.42em;
	min-height: 1.42em;
	line-height: 1.42em;
	text-align: center;
	padding: .35em;
	font-size: 14px;
}

.page-link,
.simple-pagination .ellipse {
	color: #999;
	font-size: inherit;
	text-decoration: none;
}
.page-link:hover {
	color: #666;
}
.simple-pagination .active {
	color: #333;
}
/* <<< 分页样式功能 */

.os-header {
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	background-color: rgba(255, 255, 255, .8);
	-webkit-backdrop-filter: blur(10px) ;
	backdrop-filter: blur(10px) ;
	z-index: 1000;
}
.os-header h1 {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
	font-weight: 100;
	font-size: 26px;
	line-height: 60px;
}
.os-header h1 a {
	color: #333;
}

.usr-hd-info-mod {
	float: right;
	margin: 18px 0;
}
.project-set-mod {
	display: block;
	height: 24px;
	float: left;
	position: relative;
}
.project-set-mod a {
	display: block;
	cursor: pointer;
	font-size: 0;
}
.project-set-mod a svg {
	margin: 3px;
	vertical-align: middle;
}
.signUp {
	margin-left: 15px;
}

.usr-hd-list {
	height: auto;
	bottom: 0;
}
.usr-hd-list ul {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	width: 120px;
	margin-top: 15px;
	padding: 8px 0;
	border-radius: 3px;
	border: 1px solid #eee;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, .05);
	background-color: #fff;

}
.usr-hd-list ul:before,
.usr-hd-list ul:after {
	display: block;
	content: '';
	position: absolute;
	top: -16px;
	right: 10px;
	border: 8px solid transparent;
	border-bottom-color: #eee;
}
.usr-hd-list ul:after {
	top: -15px;
	border-bottom-color: #fff;
}
.usr-hd-list a {
	display: block;
	font-size: 14px;
	padding: 3px 10px;
	color: #333;
}
.usr-hd-list a:hover {
	background-color: #eee;
}
.usr-hd-list hr,
.split-line {
	border: none;
	border-top: 1px solid #eee;
	margin: 5px 0;
}

.add-project-set {
	padding-right: 10px;
}
.add-project-set:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	border: 3px solid transparent;
	border-top-color: #333;
	margin-top: 3px;
}

/* 圆角模块 --> */
.border-radius-box {
	font-size: 0px;	
	width: 1rem;
	height: 1rem;	
	border-radius: 100%;
	background-color: #f5f5f5;
	overflow: hidden;
}
.border-radius-box img {
	width: 100%;
	transform: translateY(-50%);
	position: relative;
	top: 50%;
}
/* <-- 圆角模块 */

.hd-usr-ico {
	float: left;
	width: 24px;
	height: 24px;
}
.hd-usr-name {
	color: #333;
	vertical-align: top;
	margin-left: 3px;
	font-size: 14px;
}


.main-body {
	margin-top: 60px;
}
.main-header {
	min-height: 63px;
	background-color: #f5f5f5;
}

.tab-mod {
	float: left;
	width: 800px;
}
.tab-title-box {
	padding: 0 10px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.tab-title-box li {
	display: block;
	float: left;
	font-size: 16px;
	color: #777;
	font-weight: 100;
	padding: 10px;
	cursor: pointer;
	border-bottom: 2px solid transparent
}
.tab-title-box li.current {
	color: #39f;
	border-color: #39f;
}

.project-list-mod li {
	font-size: 14px;
	color: #666;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.project-list-mod a {
	width: 100%;
	color: #39f;
}
.project-list-mod a:hover {
	text-decoration: underline;
}
.project-list-mod h3 {
	font-size: 20px;
	font-weight: 100;
	margin: 0 0 5px 0;
}
.project-list-mod a p {
	font-size: 14px;
	color: #777;
}
.svg-private-box {
	float: right;
}
/* aside */
.aside-box {
	padding: 10px 30px;
	float: left;
}
.aside-usr-ico {
	width: 260px;
	height: 260px;
}
.aside-usr-name {
	font-size: 30px;
	font-weight: 100;
	line-height: 46px;
	border-bottom: 2px solid #eee;
}

.asider-my-teams h3 {
	line-height: 32px;
	font-size: 16px;
}
.asider-my-teams ul {
	font-size: 0;
}
.asider-my-teams a {
	display: inline-block;
	width: 32px;
	height: 32px;
	overflow: hidden;
	margin-right: 5px;
}
.asider-my-teams a img {
	width: 100%;
}

/*
	登录页面
	------------------------------------
*/
.login-body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	/*background: url('../img/login/NatGeo.jpg') no-repeat;*/
	/*background-size: cover;*/
	background-color: #333;
}
.login-mod {
	/*display: none;*/
	visibility: hidden;
	width: 360px;
	height: auto;
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -60px -180px;
	opacity: 0;
	will-change: transform;
	transform: translateY(100px);
	transition: visibility .3s ease, opacity .3s ease, transform .3s ease;
}
.login-current-mod {
	/*display: block;*/
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
}
.login-mod h1 {
	font-size: 36px;
	color: #191919;
	text-align: center;
	font-weight: 100;
}
.error-info {
	opacity: 0;
	visibility: hidden;
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin: 5px 0 10px;
}
.error-info.show {
	opacity: 1;
	visibility: visible;
}
.login-mod form {
	display: block;
	background-color: #272727;
	border-radius: 5px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	border: 1px solid #272727;
}
.login-mod form.error {
	border-color: #ff4500;
}
.login-mod input {
	width: 100%;
	box-sizing: border-box;
	color: #f5f5f5;
	font-size: 16px;
	padding: 10px;
	border: none;
	outline: none;
	background-color: transparent;
}
.login-mod form div:nth-last-of-type(n+2) {
	border-bottom: 1px solid #333;
}
.login-usr-pwd input {
	padding-right: 38px;
}
.login-btn {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 38px;
	height: 38px;
	border: none;
	background-color: transparent;
}
.login-btn[disabled="disabled"] path {
	fill: #666;
}
.login-btn path {
	fill: #f5f5f5;
}

.login-help {
	margin-top: 8px;
}
.login-help a {
	font-size: 14px;
	color: #666;
	cursor: pointer;
}
.login-help a:last-child {
	float: right;
}
.login-help a:hover {
	color: #eee;
	transition: color .3s ease;
}

.login-help-mod {
	margin: 20px 0 0;
	padding: 5px 0 0;
	border-top: 1px solid #444;
	font-size: 12px;
	color: #666;
}

/* 挺拽上传 */
.drag-files-enetr {
}

.drop-box {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, .8);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	color: #333;
	font-size: 24px;
	text-align: center;
	transition: opacity .3s ease, visibility .3s ease;
}
.drag-files-enetr .drop-box {
	opacity: 1;
	visibility: visible;
}
.drop-files-help {
	width: 100%;
	max-width: 200px;
	position: absolute;
	top: 45%;
	left: 50%;
	margin: -100px;
	z-index: 1001;
	pointer-events: none;
}
.drop-files-help svg {
	display: block;
	width: 100%;
	max-width: 200px;
	height: auto;
	margin: 0 auto;
}
.drop-files-help path {
	fill: #333;
}

/* svg lock */
.svg-lock {
	width: 16px;
	display: inline-block;
	stroke: #666;
	stroke-width: 5;
	stroke-linecap: round;
	fill: none;
}

/* clear float */
.cf:after {
	display: block;
	content: '';
	clear: both;
}

/* 
	按钮 
	==============================================
*/
.btn {
	display: inline-block;
	padding: .38em 1.8em;
	line-height: 1.67em;
	font-size: 12px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: .25em;
	cursor: pointer;
	outline: none;
	position: relative;
	z-index: 1;
	-webkit-user-select: none;
	transition: .3s;
	font-family: "Microsoft Yahei","SimHei","Hiragino Sans GB","Helvetica Neue",sans-serif,Arial;
}

.btn:hover {
	box-shadow: 1px 3px 3px 0 rgba(0,0,0,.1);;
	transition: box-shadow .3s ease;
}
.btn:focus {
	box-shadow: 0 1px 0 rgba(0,0,0,.5);
	border-color: #fff;
}
.btn:active {
	box-shadow: 0 0 0 rgba(0,0,0,.3); 
	background-color: #f5f5f5;   
	transition: box-shadow 0s ease;
}
.btn .ico {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
}
.btn.show .ico {
	opacity: 1;
}


.btn .ico svg {
	float: left;
	width: 100%;
	height: 100%;
}
.OK_SVG polyline {
	fill:none;
	stroke:#4caf50; 
	stroke-miterlimit:10; 
	stroke-width: 24px;
}

.circle-z {
	fill:none;
	stroke: #ccc;
	stroke-width: 24;
	/*设置转角顶点样式为圆形*/
	stroke-linecap: round;
	stroke-miterlimit:20;
	stroke-dasharray: 563 563;
	stroke-dashoffset: 0;
	-webkit-animation: gorotate linear 2s;
	-webkit-transform-origin: center;
}
.circle-z.loading {
	stroke-dasharray: 0 563;
	-webkit-animation: loadingrotate linear 2s infinite;

}
@-webkit-keyframes loadingrotate {
	0% {
		stroke-dasharray:0 563;
	}
	50% {
		stroke-dasharry: 563 563;
		stroke-dashoffset: -100;
	}
	100% {
		stroke-dasharray:563 563;
		stroke-dashoffset: -563;
	}
}
@-webkit-keyframes gorotate {
	0% {
		stroke-dasharray:0 563;
	}

	100% {
		stroke-dasharray:550 563;
	}
	
}
.circle-box {
	-webkit-animation: rotate360 linear 3s infinite;
	-webkit-transform-origin: center;
}
@-webkit-keyframes rotate360 {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.middle-btn {
	font-size: 16px;
}
.middle-btn .ico {
	width: 1.3em;
	height: 1.3em;
	top: 50%;
	left: .4em;
	margin-top: -.65em;
}

/* 绿色主题 */
.green-btn {
	color: #fff;
	background-color: #4caf50;
}		

.red-btn {
	color: #fff;
	background-color: #F44336;
}

.green-btn .circle-z,
.green-btn .OK_SVG polyline,		
.red-btn .circle-z,
.red-btn .OK_SVG polyline {
	stroke: #fff;
}



/*
	项目页面
	============================================
*/

/* 上传进度条*/
.files-progress-bar-mod {
	position: fixed;
	top: 0;
	left: 0;
	height: 3px;
	width: 0;
	background: #39f;
	transition: width .3s ease;
	z-index: 3000;
}
.files-progress-bar-mod.hide {
	opacity: 0;
	transition: opacity 1s;
}

.project-inner {
	padding: 60px 20px 0;
}

.pro-fileSize {
	font-size: 14px;
}

.project-list {
	margin: 10px 0 20px;
}

.project-inner footer {
	font-size: 12px;
	color: #333;
	margin: 20px 0;
}
.project-inner footer a {
	color: #39f;
}

.bread-crumbs-box a {
	font-size: 12px;
	color: #39f;
}
.bread-crumbs-box a:after {
	content: '/';
	display: inline-block;
	color: #bbb;
	padding: 0 5px;
}

.project-list svg {
	vertical-align: top;
	margin: 2px 0;
}

.project-list a {
	font-size: 16px;
	color: #333;
	margin: 0 0 0 8px;
}
.project-list a:hover {
	text-decoration: underline;
}

/*
	右键菜单
	========================================
*/
#my-contextmenu-nav {
	visibility: hidden;
	padding: 5px 0;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 9999;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, .9);
}
#my-contextmenu-nav a {
	display: block;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	padding: 0 15px;
}
#my-contextmenu-nav a:hover {
	background-color: #eee;
}
#my-contextmenu-nav a.not-used {
	pointer-events: none;
	color: #AAA;
}

#toUploadFile {
	opacity: 0;
	visibility: hidden;
}

.status-bar-mod {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 2000;
}
.status-bar-box {
	width: 340px;
	padding: 10px 10px 0 ;
	transition: height .3s ease, padding .3s ease;
}
.status-bar-inner {
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #eee;
	overflow: hidden;
	background-color: rgba(255, 255, 255, .9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}
.status-info {
	flex: 1;
	max-height: 50vh;
	overflow: auto;
}
.status-info h3 {
	font-size: 14px;
	color: #333;
	padding: 12px 10px 0px 0;
}
.status-info p {
	color: #666;
	font-size: 12px;
	padding: 0 10px 12px 0;
}
.status-btns {
	display: flex;
	flex-flow: column;
	width: 80px;
}
.status-btns button {
	flex: 1;
	border-width: 0 0 1px 1px;
	border-color: #eee;
	border-style: solid;
	background-color: transparent;
	cursor: pointer;
	color: #333;
	outline: none;
	font-size: 12px;
}
.status-btns button:last-child {
	border-bottom: none;
}
.status-btns button:hover {
	color: #39f;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	transition: color .3s ease;
}

.status-icon {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	width: 60px;
}
.status-icon svg {
	display: block;
}
.warning-status-icon path {
	fill: none;
	stroke: #F8B62D;
}
.warning-status-icon path:nth-child(2) {
	fill: #F8B62D;
}
.warning-status-icon circle {
	fill: #F8B62D
}

.success-status-icon path {
	fill: none;
	stroke: #8FC31F;
	stroke-miterlimit: 10; 
	stroke-width: 2px;
}
.success-status-icon circle {
	fill: none;
	stroke: #8FC31F;
}

.error-status-icon path, 
.error-status-icon line {
	fill: none;
	stroke: #C30D23;
}
.error-status-icon line {
	stroke-width: 2px;
}

.show-status-bar {
	animation: showStatusBar .6s ease;
}
@keyframes showStatusBar {
	from {
		transform: translateY(30px) scale(.9);
		opacity: 0;
	}
	to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

.hide-status-bar {
	animation: hideStatusBar .4s ease;
	animation-fill-mode: both;
}
@keyframes hideStatusBar {
	from {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	to {
		transform: translateY(30px) scale(.9);
		opacity: 0;
	}
}

.prompt-box {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
	visibility: hidden;
	transition: visibility 1s ease;
}
.prompt-box.show {
	visibility: visible;
	animation: showPromptBG 1s ease;
	animation-fill-mode: forwards;
	transition: visibility .3s ease;
}
@keyframes showPromptBG {
	form {
		background: rgba(250, 250, 0, 0);
	}
	to {
		background: rgba(0, 0, 0, .3);
	}
}
.prompt-body {
	width: 500px;
	background-color: #fff;
	margin: 0 auto;
	overflow: hidden;
	transform: translateY(-100%);
	transition: transform .4s ease;
}
.prompt-box.show .prompt-body {
	transform: translateY(0);
}
.prompt-body-header {
	margin: 20px 0 10px;
	padding: 0 10px;
	font-size: 14px;
	color: #333;
	line-height: 20px;
	max-height: 20vh;
	overflow: auto;
	position: relative;
	transition: padding .3s ease;
}
.prompt-body-header.pdleft {
	padding-left: 30px;
}
.prompt-body-header i {
	display: block;
	width: 16px;
	height: 16px;
	margin: 0 0 -20px -20px;
	visibility: hidden;
	transition: visibility .3s ease;
	-webkit-transform-origin: center;
	transform-origin: center;
	overflow: hidden;
}
.prompt-body-header.pdleft i {
	visibility: visible;
}
.prompt-body-header i:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #eee;
	border-top-color: #39f;
	border-radius: 100%;
	box-sizing: border-box;
	-webkit-animation: rotate360 linear 1s infinite;
	animation: rotate360 linear 1s infinite;
}
.prompt-body-header .err {
	color: #c30;
}
.prompt-form input[type="text"],
.prompt-form input[type="password"] {
	display: block;
	width: 100%;
	border: none;
	outline: none;
	margin: 0;
	padding: 10px;
	font-size: 14px;
	color: #333;
	box-sizing: border-box;
	background: #f5f5f5;
}
.prompt-form input[type="password"] {
	text-align: center;
}
.prompt-footer {
	margin-top: 1px;
}
.prompt-btns {
	width: 100%;
	display: flex;
}
.prompt-btns button {
	-webkit-flex: 1; 
	flex: 1;
	border: none;
	outline: none;
	margin: 0;
	color: #39f;
	font-size: 14px;
	line-height: 36px;
	cursor: pointer;
	background: transparent;
	transition: color .3s ease;
}
.prompt-btns button:hover {
	background-color: #f9f9f9;
	transition: background-color .3s ease;
}
.prompt-btns button[disabled] {
	color: #aaa;
}

.sign-user-title {
	max-width: 1000px;
	margin: 0 auto;
	padding: 5px 0;
	font-size: 16px;
	border-bottom: 1px solid #eee;
}
.sign-user-title a {
	font-size: 14px;
	color: #09f;
	border: none;
	padding: 0 5px;
	outline: none;
	cursor: pointer;
	font-weight: normal;
}
.sign-user-title .right {
	float: right;
}
.signUser-list-box {
	max-width: 1000px;
	margin: 0 auto;
	font-size: 0;
}
.signUser-list-box .name {
	font-size: 14px;
}
.signUser-list-box .jobs {
	font-size: 12px;
	color: #aaa;
}
.signUser-list-box {
	padding: 20px 0;
}
.signUser-list-box li {
	display: inline-block;
	width: 200px;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}
.admin-user-box li {
	margin: 0;
}
.usr-photo-box {
	display: block;
	width: 100px;
	height: 100px;
	margin: 20px auto 10px;
}

#my-user-pages {
	text-align: center;
}
/* 用户信息 >>> */
.manage-user-inner {
	display: none;
	max-width: 1000px;
	margin: 0 auto;
}
.manage-see-box aside {
	width: 200px;
	float: left;
	text-align: center;
}
.manage-user-info {
	overflow: hidden;
}
/* <<< 用户信息 */

.usr-manage-nav {
	visibility: hidden;
	width: 100px;
	margin: 0 0 0 55px;
	padding: 5px 0;
	position: absolute;
	left: 50%;
	top: 0;
	z-index: 10;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	opacity: 0;
	transform: translateY(30px);
	transition: visibility .3s ease, opacity .3s ease, transform .3s ease;
}
.signUser-list-box li:nth-of-type(5n) .usr-manage-nav {
	left: -50%;
	margin: 0 0 0 50px;
}
.signUser-list-box li:hover .usr-manage-nav {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}
.usr-manage-nav a {
	display: block;
	font-size: 12px;
	line-height: 2.28em;
	color: #333;
}
.usr-manage-nav a:hover {
	background-color: #eee;
}





















