@charset "utf-8";

body, div, p  {
	margin: 0;
	padding: 0
}
body {
	font: 16px "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",sans-serif,"SimHei",Arial;
}
li {
	list-style: none;
	line-height: 22px;
}
h2 {
	font-weight: 400
}
.osFileIco {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
a {
	margin-left: 10px;
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: underline;
}
ul {
	padding: 0;
}

.nav-tags {
	font-size: 12px;
	color: #0095dd;
}
.nav-tags:hover {
	text-decoration: underline;
}
.nav-tags:after {
	display: inline-block;
	content: '/';
	color: #ccc;
	margin-left: 5px;
}

.i-footer {
	font-size: 12px;
	margin: 0;
}
.i-footer a {
	font-size: 12px;
	font-weight: bold;
	color: #0095dd;
	margin: 0;
}

/*强制生成*/
.make-pro {
    color: #666;
    font-size: 14px;
    transition: color .3s ease;
}
.make-pro:hover {
	color: #09F;
}

.make-list li {
	font-size: 14px;
	padding: 3px 10px;
	color: #333;
}
.make-list li:nth-child(odd) {
	background: #f5f5f5;
}

.make-form input[type="text"] {
	width: 94%;
    padding: 14px 3%;
    margin: 0;
    border: none;
    font-size: 16px;
    background: #09f;
    color: #fff;
    display: block;
}

.make-type-btns {
	float: right;
	font-size: 12px;
	color: #AAA;
	margin: 0;
}
.make-type-btns li {
	display: inline-block;
	margin: 5px 3px;
	cursor: pointer;
	line-height: 14px;
}
.make-type-btns li:hover {
	border-bottom: 1px solid #AAA;
}
.make-type-btns li.current {
	color: #09F;
}
.make-type-btns li.current:hover {
	border-bottom-color: #09F
}

.server-body {
	margin: 0 0 0 20px;
}