#忽略 HTML 文件夹
/html
/Public/*
/bin/config.json
/node_modules
/.iServer-cache

!/Public/demo/

*version.json
*tinify-cache.json
*email.json

yarn.lock
package-lock.json

yarn-error.log


# Mac
*.DS_Store

# windows
Thumbs.db

*.mp4
