@import url("../scripts/libs/cyan/cyan.common.min.css");
@import "common.scss";
.nav-about {
    margin: 0 auto;
    overflow: hidden;
    padding-left: 1px;
    li {
        float: left;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 16px;
        margin-left: -1px;
        width: 198px;
        border-bottom: 1px solid #DDD;
        cursor: pointer;
        color: #666;
        &.active {
            border-bottom-color: nth($orange, 1);
            color: nth($orange, 1);
        }
    }
}
.dtgg {
    padding: 20px 0;
    width: 900px;
    margin: 0 auto;
    line-height: 2;
    a.ct {
        margin: 0 auto 20px;
        padding: 15px;
        overflow: hidden;
        display: block;
        border: 1px solid nth($borderColor, 1);
        border-radius: 3px;
        font-size: 14px;
        img {
            width: 170px;
            height: 120px;
            float: left;
        }
        .s1 {
            font-size:16px;
            color: nth($txtColor, 1);
        }
        .s2 {
            font-size:12px;
            padding:5px 0;
            color: nth($txtColor, 2);
        }
        .s3 {
            font-size:14px;
            color: #666;
        }        
        .ctn {
            margin-left:200px;
        }
        .ctn1 {
            margin-left: 10px;
        }
        transition: transform .1s ease-in;
        &:hover {
            color: nth($txtColor, 2);
            border-color: #ffe09b;
            background: #FFFCF2;
            transform: translate(-10px, -2px) scale(1.015);
        }
    }
}
.about {
    .wrap1, .wrap2 {
        min-width: 940px;
        overflow: hidden
    }
    .wrap1 {
        margin-top: 28px
    }
    .main1, .main2 {
        width: 940px;
        margin: 0 auto;
        overflow: hidden
    }
    .main1 {
        background: url(../images/about/bg_1.jpg) no-repeat -35px -290px
    }
    .main2 {
        background: url(../images/about/bg_2.jpg) no-repeat
    }
    .main1_top {
        height: 520px
    }
    .title1 {
        height: 80px;
        line-height: 80px;
        font-size: 30px;
        color: #595858;
        text-align: center
    }
    .top_div {
        height: 430px;
        width: 390px;
        padding-top: 20px;
        float: left
    }
    .top_div1 {
        margin-right: 158px
    }
    .top_div_p1 {
        font-size: 26px;
        color: #9B690F;
        line-height: 48px;
        margin-left: 180px
    }
    .top_div_p2 {
        padding-top: 226px;
        line-height: 30px;
        font-size: 16px;
        color: #814A0A;
        text-align: center
    }
    .top_div_p3 {
        font-size: 26px;
        color: #411508;
        line-height: 48px;
        margin-left: 211px
    }
    .top_div_p4 {
        padding-top: 226px;
        line-height: 30px;
        font-size: 16px;
        color: #411508;
        text-align: center
    }
    .event1 {
        padding: 50px 0
    }
    .event1_div {
        height: 154px;
        padding: 40px 110px 0;
        overflow: hidden;
        position: relative
    }
    .event1_div_ove {
        height: 154px;
        overflow: hidden;
        position: relative
    }
    .event1_div ul {
        overflow: hidden;
        position: absolute;
        li {
            float: left;
            margin: 0 15px;
            display: inline;
            overflow: hidden
        }
        img {
            height: 154px;
            cursor: pointer
        }
    }
    .arrow1 {
        width: 46px;
        height: 87px;
        background: url(../images/about/arrow1.jpg) no-repeat;
        position: absolute;
        top: 60px;
        left: 10px
    }
    .arrow2 {
        width: 46px;
        height: 87px;
        background: url(../images/about/arrow2.jpg) no-repeat;
        position: absolute;
        top: 60px;
        right: 10px
    }
    .event2 {
        height: 888px;
        position: relative
    }
    .event2_div {
        width: 300px;
        overflow: hidden;
        position: absolute;
        .imgcon {
            display: block;
            width: 134px;
            height: 173px;
            margin-bottom: 36px;
            background: url(../images/about/sprites_about.png) no-repeat
        }
        .imgcon1 {
            background-position: -20px -255px
        }
        .imgcon2 {
            background-position: -214px -255px
        }
        .imgcon3 {
            background-position: -423px -255px
        }
        .imgcon4 {
            background-position: -649px -255px
        }
        .imgcon5 {
            background-position: -862px -255px
        }
    }
    .event2_div_p1 {
        line-height: 45px;
        font-size: 24px;
        color: nth($txtColor, 4)
    }
    .event2_div_p2 {
        line-height: 25px;
        font-size: 14px;
        color: #636363;
        span {
            font-size: 14px;
            color: #FF7D0A
        }
    }
    .event2_div1 {
        top: 110px;
        left: 25px
    }
    .event2_div2 {
        top: 177px;
        left: 398px
    }
    .event2_div3 {
        top: 110px;
        left: 714px
    }
    .event2_div4 {
        top: 555px;
        left: 165px
    }
    .event2_div5 {
        top: 555px;
        left: 595px
    }
    .event3 {
        padding: 30px 0
    }
    .event3_div {
        position: relative;
        height: 160px
    }
    .event3_ul {
        position: absolute;
        left: 55px;
        top: 0;
        height: 160px;
        width: 850px;
        padding: 30px 0 0;
        overflow: hidden;
        white-space: nowrap;
        li {
            width: 170px;
            display: inline-block;
            letter-spacing: 0;
            a {
                text-decoration: none;
                display: block;
                width: 170px;
                height: 160px;
                margin: 0 auto;
                color: #2D2D2D;
                line-height: 35px;
                text-align: center;
                font-size: 14px;
                img {
                    width: 110px;
                    height: 110px;
                    display: block;
                    margin: 0 auto 10px
                }
            }
            span {
                display: block;
                width: 120px;
                height: 115px;
                margin: 0 auto 5px;
                background: url(../images/about/sprites_about.png) no-repeat
            }
        }
        .partin1 span {
            background-position: -17px -2px
        }
        .partin2 span {
            background-position: -229px -2px
        }
        .partin3 span {
            background-position: -440px -2px
        }
        .partin4 span {
            background-position: -654px -2px
        }
        .partin5 span {
            background-position: -866px -2px
        }
        .partin6 span {
            background-position: -17px -469px
        }
        .partin7 span {
            background-position: -189px -469px
        }
        .partin8 span {
            background-position: -364px -469px
        }
        .partin9 span {
            background-position: -535px -469px
        }
        .partin10 span {
            background-position: -707px -469px
        }
        .partin11 span {
            background-position: -877px -469px
        }
        .partin1 {
            a:hover span, .on span {
                background-position: -17px -122px
            }
        }
        .partin2 {
            a:hover span, .on span {
                background-position: -229px -122px
            }
        }
        .partin3 {
            a:hover span, .on span {
                background-position: -440px -122px
            }
        }
        .partin4 {
            a:hover span, .on span {
                background-position: -654px -122px
            }
        }
        .partin5 {
            a:hover span, .on span {
                background-position: -866px -122px
            }
        }
        .partin6 {
            a:hover span, .on span {
                background-position: -17px -596px
            }
        }
        .partin7 {
            a:hover span, .on span {
                background-position: -189px -596px
            }
        }
        .partin8 {
            a:hover span, .on span {
                background-position: -364px -596px
            }
        }
        .partin9 {
            a:hover span, .on span {
                background-position: -535px -596px
            }
        }
        .partin10 {
            a:hover span, .on span {
                background-position: -707px -596px
            }
        }
        .partin11 {
            a:hover span, .on span {
                background-position: -877px -596px
            }
        }
    }
    .con {
        padding-top: 20px;
        overflow: hidden;
        line-height: 2
    }
    .con_div_p {
        font-size: 14px;
        color: #636363;
        line-height: 25px
    }
    .con_div_p1 {
        margin-bottom: 25px
    }
    .event4 {
        height: 500px;
        padding-top: 60px;
    }
    .event4_div {
        padding-top: 60px;
        padding-left: 80px;
    }
    .event4_div_p {
        font-size: 16px;
        color: #595858;
        line-height: 2
    }
    .event5 {
        min-height: 400px
    }
    .event5_div {
        padding-top: 30px;
        width: 926px;
        font-size: 14px;
        line-height: 2;
        color: nth($txtColor, 6);
    }
    .event5_div_p {
        color: nth($txtColor, 6);
        line-height: 25px
    }
    .event5_div_p1 {
        margin-bottom: 25px
    }
    .event6_p {
        height: 25px;
        line-height: 25px;
        border-left: solid nth($orange, 1) 5px;
        padding-left: 10px;
        font-size: 22px;
        color: #353535
    }
    .event6_ul {
        height: 200px;
        padding-top: 30px;
        li {
            width: 160px;
            height: 56px;
            float: left;
            margin: 0 50px 20px 0;
            img {
                display: block
            }
        }
        .qin {
            margin-right: 0
        }
    }
    .event6_p1 {
        font-size: 14px;
        color: #777;
        line-height: 25px
    }
}
.bigImg {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
        position: absolute;
        top: 50%;
        left: 50%
    }
}