			<aside class="aside-box">

				<div class="aside-usr-info">
					<div class="aside-usr-ico">
						<img src="img/usrDefaultIco.jpg" alt="Kings">
					</div>
					<div class="aside-usr-name">KinGS</div>
				</div>

				<div class="asider-my-teams">
					<h3>团队</h3>
					<ul>
						<a href="#">
							<img src="img/usrDefaultIco.jpg" alt="Kings">
						</a>
						<a href="#">
							<img src="img/usrDefaultIco.jpg" alt="Kings">
						</a>
						<a href="#">
							<img src="img/usrDefaultIco.jpg" alt="Kings">
						</a>
					</ul>
				</div>
			</aside>