			<aside class="aside-box">

				<div class="aside-usr-info">
					<% if (usr) { %>
					<div class="aside-usr-ico">
						<img src="<%= usr.ico %>" alt="<%= usr.usr %>">
					</div>
					<div class="aside-usr-name"><%= usr.usr %></div>
					<% } %>
				</div>

				<div class="asider-my-teams">
					<h3>团队</h3>
					<ul>
						<a href="#">
							<img src="img/usrDefaultIco.jpg" alt="Kings">
						</a>
						<a href="#">
							<img src="img/usrDefaultIco.jpg" alt="Kings">
						</a>
						<a href="#">
							<img src="img/usrDefaultIco.jpg" alt="Kings">
						</a>
					</ul>
				</div>
			</aside>