	<header class="os-header">
		<h1>iServers</h1>

		<ul class="usr-hd-info-mod">
			<li class="project-set-mod">
				<a class="add-project-set" href="#">
					<svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 9H7v5H5V9H0V7h5V2h2v5h5z"></path></svg>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a href="">添加Git项目</a>
						<a href="">添加项目</a>
						<a href="">创建团队</a>
						<a href="">添加Demo地址</a>
					</ul>
				</div>
			</li>
			<li class="project-set-mod">
			<% if (usr) { %>

				<a >
					<span class="hd-usr-ico">
						<img src="<%= usr.ico %>" alt="<%= usr.usr %>">
					</span>
					<span class="hd-usr-name"><%= usr.usr %></span>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a href="">修改密码</a>
						<a href="/loginOut">退出</a>
					</ul>
				</div>

			<% } %>
			</li>
		</ul>
	</header>