<head>
	<meta charset="UTF-8">
	<title><%= title %> - iServer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/server/css/main.css">

	<% css.forEach(function(val){ %>
	<link rel="stylesheet" href="<%= val %>">
	<% }) %>
</head>