			<section class="tab-mod">
				<ul class="tab-title-box">
					<li class="current">项目</li>
					<li>团队项目</li>
					<li>Demo</li>
				</ul>

				<div class="project-list-box">
					<ul class="project-list-mod">
					<% pro.project.forEach( function(val) { %>
						<li>
							<h3><%= val.name %></h3>
							<p>Nodejs server</p>
						</li>
					<% }) %>
					</ul>
				</div>
			</section>