<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	
	<%- include('parts/header', {usr: usrInfo}) %>

	<section class="main-body">

		<section class="content">
			
			<%- include('parts/aside', {usr: usrInfo}) %>
			<%- include('parts/tab') %>


		</section>
		
			
	</section>

	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/usrCenter.js"></script>
	
</body>
</html>