<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	
	<%- include('parts/header') %>

	<section class="main-body">

		<section class="content">
			
			<%- include('parts/aside') %>
			<%- include('parts/tab') %>


		</section>
		
			
	</section>

	
</body>
</html>