<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="server/css/main.css">
</head>
<body>
	
	<section class="login-body">

		<div class="login-mod">
			<h1>iServer</h1>
			<p class="error-info">Error!</p>
			<form method="post" action="/loginIn">
				<div class="login-usr-name">
					<input type="text" name="usr" placeholder="帐号" autofocus="" value="kings">
				</div>
				<div class="login-usr-pwd">
					<input type="password" name="passwd" placeholder="密码" value="1234">
				</div>
				<button class="login-btn" type="submit">
					<svg width="16" height="16" viewBox="0 0 24 24">
						<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/>
					</svg>
				</button>
			</form>
			<p class="login-help">
				<a href="#">忘记密码</a>
				<a href="">申请帐号</a>
			</p>
		</div>
		
			
	</section>

	<script src="server/js/jquery-3.1.0.min.js"></script>
	<script src="server/js/login.js"></script>
</body>
</html>