<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>登录</title>

	<link rel="stylesheet" href="server/css/main.css">
</head>
<body>
	
	<section class="login-body">

		<div id="signIn-form" class="login-mod login-current-mod">
			<h1>iServer</h1>
			<p class="error-info">Error!</p>
			<form method="post" action="/loginIn" novalidate>
				<div class="login-usr-name">
					<input type="text" name="user" placeholder="帐号" autofocus="" value="" required>
				</div>
				<div class="login-usr-pwd">
					<input type="password" name="passwd" placeholder="密码" value="" required>
				</div>
				<button class="login-btn" type="submit">
					<svg width="16" height="16" viewBox="0 0 24 24">
						<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/>
					</svg>
				</button>
			</form>
			<p class="login-help">
				<a class="toGetPwd">忘记密码</a>
				<a class="toSignUp">申请帐号</a>
			</p>
		</div>

		<div id="signUp-form" class="login-mod">
			<h1>注册</h1>
			<p class="error-info">Error!</p>
			<form method="post" action="/signUp" novalidate>
				<div class="login-usr-name">
					<input type="text" name="user" placeholder="帐号" autofocus="" required>
				</div>
				<div class="login-usr-name">
					<input type="email" name="email" placeholder="邮箱" value="">
				</div>
				<div class="login-usr-pwd">
					<input type="password" name="passwd" placeholder="密码" required>
				</div>
				<button class="login-btn" type="submit">
					<svg width="16" height="16" viewBox="0 0 24 24">
						<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/>
					</svg>
				</button>
			</form>
			<p class="login-help">
				<a class="toGetPwd">忘记密码</a>
				<a class="toLogin">登录</a>
			</p>
		</div>
		
		<div id="forgot-form" class="login-mod">
			<h1>忘记密码</h1>
			<p class="error-info">Error!</p>
			<form method="post" action="/forgotPwd" novalidate>
				<div class="login-usr-pwd">
					<input type="email" name="passwd" placeholder="邮箱" required>
				</div>
				<button class="login-btn" type="submit">
					<svg width="16" height="16" viewBox="0 0 24 24">
						<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/>
					</svg>
				</button>
			</form>
			<p class="login-help">
				<a class="toSignUp">申请帐号</a>
				<a class="toLogin">登录</a>
			</p>
			<dl class="login-help-mod">
				<dt>*您可以联系管理人员,帮助你找回密码</dt>
			</dl>
		</div>

	</section>

	<script src="server/js/jquery-3.1.0.min.js"></script>
	<script src="server/js/login.js"></script>
</body>
</html>

