<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MAKE HTML</title>
	<link rel="stylesheet" type="text/css" href="/server/css/make.css">
</head>
<body>
	<section id="my-app">	
		<form class="make-form" novalidate="novalidate" v-on:submit.prevent="sendProject">
			<input type="text" 
				placeholder="生成页面URL" 
				v-model='projectPath'
			>
			<a class="make-pro" href="">打开项目目录</a>

			<ul v-on:click="btnClick" class="make-type-btns">
				<li class="current">All</li>
				<li>HTML</li>
				<li>Css</li>
				<li>Js</li>
				<li>Other</li>
			</ul>
		</form>

		<div id="make-files-box" class="make-ul-box">
			<ul class="make-list">
				<file-li v-for="data in data" v-bind:file="data" :key="data.title"></file-li>
			</ul>

		</div>

	</section>
	
	<script src="/server/js/socket.io.js"></script>
	<script src="/server/js/Vue/vue.js"></script>
	<script src="/server/js/makeTem.js"></script>

</body>
</html>