<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= path %></title>
	<link rel="stylesheet" href="/server/js/highlight/styles/atom-one-light.css">
	<link rel="stylesheet" href="/server/css/md.css">
</head>
<body>
	<section id="inner"></section>
	
	<script src="/server/js/marked/marked.min.js"></script>
	<script src="/server/js/highlight/highlight.pack.js"></script>
	<script>
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "/vieworigincode", true);
		xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xmlhttp.send('type=md&file=<%= path %>');
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
					var html = marked(xmlhttp.response);
				document.getElementById('inner').innerHTML = html;

				hljs.initHighlighting();
			}
		}
	</script>
</body>
</html>