<!DOCTYPE html>
<html lang="en">
<%- include('parts/head') %>
<body>
	<h1>Welcome Use Ejs</h1>

	<%- include('parts/nav') %>
	
	<h3>Demo Page</h3>
	<a href="http://ejs.co/">Ejs</a>

	<script src="contents/js/hello.min.js"></script>
</body>
</html>
