<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>welcome</title>
	<link rel="stylesheet" href="contents/css/demo.css">
</head>
<body>
	<%- include('parts/nav') %>
	<h1>Welcome Use Ejs</h1>
	<h3>Demo Page</h3>
	<a href="http://ejs.co/">Ejs</a>
</body>
</html>