<head>
	<meta charset="utf-8">
    <title><%= title %></title>
    <link type="text/css" href="contents/css/layout.min.css" rel="stylesheet" />

    <%# 单个页面样式添加 %>
    <% links.forEach(function(link) { %>
	    <% if (link) { %>
    <link rel="stylesheet" href="<%= link %>" />
    	<% } %>
    <% }) %>
</head>