@charset "utf-8";
/* 
	DEMO CSS
	------------------------------
	ektx                  demo.css
 */
/* 选择时间的样式 */
@import url('parts/reset.css');
@import url('parts/reset.css');

nav {
	font-size: 0;
}
nav li {
	display: inline-block;
	font-size: 16px;
	margin: 0 15px;
	line-height: 32px;
	text-transform: uppercase;
}